
.layout-shop{
    grid-template-columns: repeat(1fr,12);
}
.shop-main{
        grid-column: span 10/span 10;
}
.shop-aside{
    grid-column: span 2 span 2;
}
.card{
    min-width: 15rem !important;
}
.card .card-body > a{
    font-size: 14px;
}


.card .card-subtitle{
    font-size: 11px;
    color: var(--bs-gray-600);
}
.card .card-price{
    height: 5.125rem;
}
.card .card-price span span{
    font-size: 8px;
    color: var(--bs-gray-400);
}
.card .card-price > div > span:last-child{
    font-size: 12px;
    color: var(--bs-gray-600);
}
.card-price button{
    background-color:#ff5c39;
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
} 
.card-price button:hover{
    background-color: #c74f34;
    color: white;
}
.card-price button:active , .card-price button:focus-visible{
    background-color: #c74f34 !important;
    color: white !important;
    transform: scale(.95);
}

.card-link{
    min-height: 3.5rem;
}
.card-link div{
   height: fit-content;
    font-size: 11.5px;
    color: var(--bs-gray-700);
    background-color: var(--bs-gray-200);
    padding: 2px 4px;
    margin-top: 4px;
    border-radius: 4px;

}
.card-link div + div{
    margin-inline-start: 6px;
}
